<div class="wp-divider{% if align == 'left' %} wp-divider--left{% endif %}">
  <span class="wp-divider__line"></span>
  <span class="wp-divider__icon">🕯️</span>
  {%- unless align == 'left' -%}<span class="wp-divider__line"></span>{%- endunless -%}
</div>
